<h1><%= @another_entry.user.name %>さんとのチャット</h1>

<div class="chat">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <div class="chat-box">
        <%= m.body %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="posts">
  <%= form_for @message do |f| %>
    <%= f.text_field :body,class: "form-text-field" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <% f.submit %>
  <% end %>
</div>